.day_night{
  width: 38px;
  background-color:transparent;
  border: none;
  position: fixed;
  top: 12px;
  left: 85vw;
  padding: 1px;
}
.day_night img{
  max-width: 80%;
  border-radius: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  /* Academy */
  
  .aboutacademy {
    display: flex;
    /* background-color: #c5d5cb; */
    /* background-color: #828282; */
    background-color:rgb(17 24 39);
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
  
  }
  
  .aboutinstitute {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2vw;
    flex-wrap: wrap;
  }
  .aboutinst{
    flex-basis: 55%;
    padding: 20px;
    /* color: #c5c3c3; */
  }
  .descrip{
    color: #111;
    /* color: rgb(188, 185, 185); */
    /* color: rgb(37, 36, 36); */
  }
  
  .imageacademy {
    flex-basis: 35%;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .imageacademy img {
    margin: 30px 20px 30px 20px;
    width: 20vw;
    min-width: 170px;
    height: auto;
    border-radius: 8px;
  }
  
  .course {
    font-size: 3vw;
    /* color: #0e87c7; */
    color: #993eee;
  }